<div class="container">
  <h2>Cron Expression Evaluator</h2>

  <form [formGroup]="cronForm" (ngSubmit)="evaluateExpression()">
    <input
      type="text"
      formControlName="cron"
      placeholder="Enter cron expression"
    />

    <div *ngIf="isCronInvalid" class="error">
      ❌ Cron must have exactly 6 fields: second minute hour day month dayOfWeek
    </div>

    <div class="buttons">
      <button type="submit" [disabled]="cronForm.invalid">Evaluate</button>
      | <button type="button" (click)="resetForm()">Reset</button> 
      | <button type="button" (click)="generateRandomCron()">🎲 Random</button>
    </div>
 <br>

<div class="template-buttons">
  <input formControlName="templateLabel"  [class.invalid-input]="cronForm.get('templateLabel')?.invalid && cronForm.get('templateLabel')?.touched" placeholder="Label for template" />
  <button type="button"  [disabled]="!cronForm.valid || !cronForm.get('templateLabel')?.value?.trim()" (click)="saveTemplate()">💾 Save Template</button>
  <button type="button" [disabled]="savedTemplates.length === 0" (click)="exportTemplates()">⬇️ Export</button>
  <input type="file" (change)="importTemplates($event)" />
</div>


<div *ngIf="savedTemplates.length > 0">
  <label>Select Template:</label>
  <select (change)="loadTemplate($event)">
    <option value="">--Choose--</option>
    <option *ngFor="let tmpl of savedTemplates" [value]="tmpl.cron">
      {{ tmpl.templateLabel }}
    </option>
  </select>
</div>
  </form>

  <div class="results">
    <p [ngClass]="getClass('seconds')">Seconds</p>
    <p [ngClass]="getClass('minutes')">Minutes</p>
    <p [ngClass]="getClass('hours')">Hours</p>
    <p [ngClass]="getClass('days')">Days</p>
    <p [ngClass]="getClass('dayOfWeek')">DayOfWeek</p>
    <p [ngClass]="getClass('month')">Month</p>
  </div>

  <div *ngIf="cronDescription" class="description">
  📝 <strong>Description:</strong> {{ cronDescription }}
</div>

</div>

<div class="recurrence-wrapper">
  <app-recurrence-picker></app-recurrence-picker>
</div>
